<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesecurity">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.DarkMode">
        <activity android:name=".Activity.Common.NoticeActivity"></activity>
        <activity android:name=".Activity.Common.GuestDescriptionActivity" />
        <activity android:name=".Activity.Common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Common.SettingCitizenActivity" />
        <activity android:name=".Activity.Citizen.NoticeCitizenActivity" />
        <activity android:name=".Activity.Admin.AdminNoticeActivity" />
        <activity android:name=".Activity.Admin.AdminGuardActivity" />
        <activity android:name=".Activity.Admin.AdminFlatActivity" />
        <activity android:name=".Activity.Admin.AdminMainActivity" />
        <activity android:name=".Activity.Login.CitizenLoginNewActivity" />
        <activity android:name=".Activity.Login.CitizenLoginOldOwnerActivity" />
        <activity android:name=".Activity.Citizen.CitizenAllGuestActivity" />
        <activity android:name=".Activity.Guard.GuardAllActivity" />
        <activity android:name=".Activity.Login.GuardLoginActivity" />
        <activity android:name=".Activity.Login.LoginCitizenFlatActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.Guard.PhoneGuardActivity" />
        <activity android:name=".Activity.Citizen.CitizenMainActivity" />
        <activity android:name=".Activity.Guard.UploadGuestActivity" />
        <activity android:name=".Activity.Guard.MainActivity" />
    </application>

</manifest>